 li a{
    font: 15px bold tahoma ;
    color: white;
  }
  li{
    font-style: none;
    font: 20px bold tahoma;
    list-style: none;

  }

  .main{
  margin-top:0px;
  height: 500px;
  width: 100%;

background-image:url('includes/pic.jpeg');
  

}